[submodule "redflat"]
	path = redflat
	url = git@github.com:worron/redflat.git
[submodule "awesomewm-binary-tree-layout"]
	path = layouts/binary-tree-layout
	url = git@github.com:ShadowKing345/awesomewm-binary-tree-layout.git
